<div class="page" data-page="{{__FIELDPREFIX__}}">
    __HEADERBAR__
    <div id="{{__FIELDPREFIX__}}" class="page-content">


        <div id="{{__FIELDPREFIX__}}_scrolltotop" class="fab fab-right-bottom ekScrollToTopBtn f7-hidden">
            <a href="#">
                <i class="fas fa-chevron-up"></i>
            </a>
        </div>
        <div id="{{__FIELDPREFIX__}}_add" class="fab fab-right-bottom">
            <a href="#">
                <i class="fas fa-book-medical"></i>
            </a>
        </div>
        <div id="{{__FIELDPREFIX__}}_edit" class="fab fab-left-bottom">
            <a href="#">
                <i class="fas fa-edit"></i>
            </a>
        </div>

        <div id="{{__FIELDPREFIX__}}_count"></div>

        <div class="list inline-labels">
            <ul>
                <li class="item-content item-input">
                    <div class="item-inner">
                        <div class="item-title item-label">{{'title_b'}}</div>
                        <div class="item-input-wrap">
                            <input id="{{__FIELDPREFIX__}}_title" type="text" name="title">

                            <span class="input-clear-button"></span>
                        </div>
                    </div>
                </li>
            </ul>
        </div>

        <div class="list inline-labels">
            <ul>
                <div id="{{__FIELDPREFIX__}}_titles">
                    <div class="ekSelected">

                    </div>

                </div>
            </ul>
        </div>
    </div>

</div>
